p {
    font-weight: bold;
    font-size: 25px;
    color: rgb(220, 220, 223);
}
.pytanie {
    font-size: 25px;
    font-style: oblique;
    color: darkgreen;
}
.skile {
    font-size: 20px;
}
.container{
    width: 200px;
    height: 200px;
    background-color: #0a0a23;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img{
    width: 100px;
    height: 70px;
}
    
