.pytanie {
    font-size: 25px;
    font-style: oblique;
    color: darkgreen;
}
.skile {
    font-size: 20px;
}
.container{
    width: 200px;
    height: 200px;
    background-color: #0a0a23;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img{
    width: 100px;
    height: 70px;
}
.crimson-text{
    background-color:  orange
}
.type1{
    background-color: darkgoldenrod;
    display: block;
    width: 37px;
}
.type2{
    background-color: darkgoldenrod;
    display: inline;
}
.type3{
    background-color: darkgoldenrod;
    display: inline-block;
}   
.cytat{
    width: 600px;
    text-align: center;
    border-style: double;
    background-color: darkolivegreen;
    border-radius: 40px 40px 10px 10px;    
}
#autor{
    text-align: center;
    margin: auto;
    width: 100px;
    border-bottom: 3px solid;
}
.tytul{
    text-align: center;
    width: 500px;
}
.cwiczenie{
    border-style: solid;
    width: 500px;
}
.foo{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
#identyfikator{
    font-size: 25px;
}
p, div{
    font-weight: bold;
}
div p{
    font-size: 15px;
}
div .foo{
    text-align: center;
}
.tabela{
    margin: 10px;
    border: 5px solid green;
    border-collapse: collapse;
    background-color: purple;
}
.tabela td{
    border: 2px solid;
    padding: 10px;
}
caption{
    padding: 5px;
    font-size: 25px;
}
.tabela th{
    border: 2px solid;
    font-size: 20px;
}
.tabela tr{
    border: 1px solid;
}